<div id = "bottom-root">
	<p class = "division-line">
	</p>
	<div class = "division-main">
		<p class = "division-title">추천 프로그램</p>
		<div class = "division-container">
			<a href="#">
				<div class = "video-thumb">
					<img src = "http://img.youtube.com/vi/bWMw4vE3J8s/mqdefault.jpg"/>
					<p class = "thumb-title">에미넴 헠헠</p>
				</div>
			</a>
			<a href="#" class = "mid">
				<div class = "video-thumb">
					<img src = "http://img.youtube.com/vi/t3217H8JppI/mqdefault.jpg"/>
					<p class = "thumb-title">에미넴 헠헠</p>
				</div>
			</a>
			<a href="#">
				<div class = "video-thumb">
					<img src = "http://img.youtube.com/vi/CdXesX6mYUE/mqdefault.jpg"/>
					<p class = "thumb-title">에미넴 헠헠</p>
				</div>
			</a>
		</div>
		
		<div class = "load-more">
			<a href="#">
				<img src = "images/more.png" class = "load-more-btn">
			</a>
		</div>
	</div>
</div>
