<!DOCTYPE html>
<html>
	<head>
		<title>burustar tv</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
		<meta name="description" content="">

		<?php
			function get_url($url){
				return base_url() . 'application/' . $url;
			}
		?>

		<script src="js/jquery-1.11.2.js"></script>
  		<link rel="stylesheet" type="text/css" href=<?= get_url('assets/slick/slick.css'); ?> />
  		<link rel="stylesheet" type="text/css" href=<?= get_url('assets/slick/slick-theme.css'); ?> />
  		
		<!–[if lt IE 9]>
			<script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script>
		<![endif]–> 
		<!-- <link rel="stylesheet" type="text/css" href=<?= base_url() . "application/assets/css/common.css" ?> /> -->
		<link rel="stylesheet" type="text/css" href=<?= get_url("assets/css/common.css"); ?> />
	</head>
	<body style="min-width: 720px;">
		<div id = "top">
			<?php
				echo file_get_contents(get_url("views/top.html"));
			?>
		</div>
		<div id = "content">
			<div id = "left">
				<?php
					echo file_get_contents(get_url("views/left.html"));
				?>
			</div>
			<div id = "right">
				<div id = "main">
					<div id = "highlight">

						<div id="highlight-slider">
							<a href="#"><div class="highlight-slide"><img src="http://img.youtube.com/vi/WrjwGPb0Hvw/mqdefault.jpg" alt="image01" />
							</div></a>
							<a href="#"><div class="highlight-slide"><img src="http://img.youtube.com/vi/_y0NPD6sBuo/mqdefault.jpg" alt="image01" />
							</div></a>
							<a href="#"><div class="highlight-slide"><img src="http://img.youtube.com/vi/09R8_2nJtjg/mqdefault.jpg" alt="image01" />
							</div></a>
							<a href="#"><div class="highlight-slide"><img src="http://img.youtube.com/vi/0KSOMA3QBU0/mqdefault.jpg" alt="image01" />
							</div></a>
						</div>
					</div>
					<p class = "division-line">
					</p>
					<div class = "division-main">
						<p class = "division-title">신규 영상</p>
						<div class = "division-container">
							<a href="#">
								<div class = "video-thumb">
									<img src = "http://img.youtube.com/vi/bWMw4vE3J8s/mqdefault.jpg"/>
									<p class = "thumb-title">에미넴 헠헠</p>
								</div>
							</a>
							<a href="#" class = "mid">
								<div class = "video-thumb">
									<img src = "http://img.youtube.com/vi/t3217H8JppI/mqdefault.jpg"/>
									<p class = "thumb-title">에미넴 헠헠</p>
								</div>
							</a>
							<a href="#">
								<div class = "video-thumb">
									<img src = "http://img.youtube.com/vi/CdXesX6mYUE/mqdefault.jpg"/>
									<p class = "thumb-title">에미넴 헠헠</p>
								</div>
							</a>
						</div>
						<div class = "load-more">
							<a href="#">
								<img src = <?= get_url('assets/images/more.png'); ?> class = "load-more-btn">
							</a>
						</div>
					</div>

					<div id = "bottom">
						<?php
							echo file_get_contents(get_url("views/bottom.html"));
						?>
					</div>

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src=<?= get_url('assets/slick/slick.min.js'); ?> ></script>
	<script>
		 $(document).ready(function(){
	      $('#highlight-slider').slick({
			  autoplay: true,
			  dots    : true,
			  arrows  : true
	      });
	      $(".slick-slider").css("margin-bottom","30px");
	    });
	</script>

	<style>
		#highlight{
			width : 96%;
			margin-left : auto;
			margin-right : auto;
			margin-top : 2%;
			margin-bottom : 2%;
			display : block;
			overflow:hidden; 
			background-color : #FFFFFF;
			padding-bottom : 2%;
		}
		.highlight-slide > img{
			width : 100%;
		}
		/* Mobile – 767px 이하 해상도에서 해석하는 코드 */
		@media (max-width:767px){

		}

		/* Tablet – 768px~1024px 해상도에서 해석하는 코드 */
		@media (min-width:768px) and (max-width:1024px){

		}

		/* Desktop – 1025px 이상 해상도에서 해석하는 코드 */
		@media (min-width:1025px){

		}
	</style>
</html>